{% extends 'base.html' %}

{% block title %}Login{% endblock %}

<!-- {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">TicketEases</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link sidebar-link" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <div class="navbar-nav">
                    <a href="{{ url_for('auth.login') }}" class="btn btn-primary mr-2">Login</a>
                    <a href="{{ url_for('auth.register') }}" class="btn btn-success">Register</a>
                </div>
            </ul>
        </div>
    </div>
</nav>
</div>

{% endblock %} -->

{% block content %}
<div class="container">
    <h2 class="text-center">Complete Your Payment</h2>
    <form id="payment-form" method="post">
        <div class="form-group">
            <label for="card-element">Credit or Debit Card</label>
            <div id="card-element" class="form-control">
                <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="currency" value="usd">
        <input type="hidden" name="description" value="{{ description }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="event_id" value="{{ event_id }}">
        <input type="hidden" name="stripeToken" id="stripeToken">
        <button type="submit" class="btn btn-primary btn-block">Pay Now</button>
    </form>
</div>

{% endblock %}
