<!-- home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Your Event E-Ticketing Platform!</h1>
  <p class="lead">Buy tickets for exciting events and manage your orders easily.</p>
  <hr class="my-4">
  <p>Get started by <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a> or <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">Login</a></p>
</div>
{% endblock %}
